* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 95%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: rgb(239, 237, 237);
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    width: 1100px;
    height: 550px;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;

    .part1 {
      img {
        width: 550px;
        height: 550px;
        border-radius: 50%;
      }
    }

    .part2 {
      width: 550px;
      height: 550px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      form {
        label {
          display: block;
          margin-bottom: 10px;
          font-family: serif;
          font-weight: 800;
          font-size: 19px;
        }

        input {
          width: 400px;
          height: 40px;
          margin-bottom: 40px;
          padding: 10px;
          font-size: 18px;
        }

        button {
          display: block;
          margin: 0 auto;
          width: 170px;
          height: 40px;
          border: none;
          background-color: red;
          color: white;
          border-radius: 5px;
        }
      }
    }
  }
}

#main-header {
  height: 60px;
  padding: 15px 0;
  box-shadow: 0 0 10px silver;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: white;

  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bars {
      display: flex;
      align-items: center;

      h1 {
        font-size: 25px;
      }

      i {
        margin-left: 15px;
        margin-top: 3px;
        font-size: 22px;
        color: #860909;
      }
    }

    .menu {
      ul {
        display: flex;
        gap: 50px;
        list-style: none;

        li {
          cursor: pointer;
          font-weight: 600;
          color: silver;

          a {
            padding: 10px;
            color: white;
            border-radius: 6px;
            text-decoration: none;
            background: red;
          }
        }
      }
    }
  }
}

#sidebar {
  width: 300px;
  min-height: 90vh;
  max-height: 95vh;
  padding: 15px;
  position: sticky;
  top: 60px;
  border-right: 1px solid rgba(99, 94, 94, 0.207);

  .title {
    color: grey;
    font-size: 19px;
  }

  .catalog {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 15px;
    color: #61646b;

    i {
      width: 30px;
      margin-right: 10px;
      font-size: 22px;
    }
  }

  .orders {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 15px;
    color: #61646b;

    i {
      width: 30px;
      margin-right: 10px;
      font-size: 22px;
    }
  }

  .banner {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 15px;
    color: #61646b;

    i {
      width: 30px;
      margin-right: 10px;
      font-size: 22px;
    }
  }

  .users {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 10px;
    color: #61646b;

    i {
      width: 33px;
      margin-right: 10px;
      font-size: 22px;
    }
  }

  .admin {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 10px;
    color: #61646b;

    i {
      width: 33px;
      margin-right: 10px;
      font-size: 22px;
    }
  }

  .newsletter {
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    margin-left: 10px;
    color: #61646b;

    i {
      width: 33px;
      margin-right: 10px;
      font-size: 22px;
    }
  }
}

.newproductHeader {
  width: 100vw;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 10px silver;
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  position: sticky;
  z-index: 99;
  top: 0;

  button {
    padding: 10px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    background: orangered;
    border: none;
  }
}

.create {
  width: 100vw;
  height: 111.3vh;
  background: #000000b8;
  position: absolute;
  z-index: 999;

  .create_box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 270px auto;
    position: sticky;
    top: 250px;

    h2 {
      font-weight: 700;
      font-family: Inter, sans-serif;
      font-size: 28px;
      text-align: center;
      padding: 5px 0;
    }
    form {
      justify-content: center;
      // display: flex;
      align-items: center;
      margin-top: 10px;
      label {
        display: block;
        font-weight: 300;
        font-family: Inter, sans-serif;
        font-size: 16px;
        color: #000;
        margin-left: 5px;
      }

      input {
        margin: 5px 0;
        height: 40px;
        width: 450px;
        border: 0.5px solid silver;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 10px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }
    .create_btn {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      margin: 15px 0;

      .save {
        width: 150px;
        height: 40px;
        border: none;
        background-color: rgb(4, 172, 4);
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
      .no {
        width: 150px;
        height: 40px;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

.deleteCategory {
  width: 100vw;
  height: 111.3vh;
  background: #000000b8;
  position: absolute;
  z-index: 999;

  .delete_box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 270px auto;
    position: sticky;
    top: 250px;

    h2 {
      font-weight: 700;
      font-family: Inter, sans-serif;
      font-size: 28px;
      text-align: center;
      padding: 5px 0;
    }
    form {
      justify-content: center;
      // display: flex;
      align-items: center;
      margin-top: 10px;
      label {
        display: block;
        font-weight: 300;
        font-family: Inter, sans-serif;
        font-size: 16px;
        color: #000;
        margin-left: 5px;
      }

      select {
        margin: 5px 0;
        height: 40px;
        width: 450px;
        border: 0.5px solid silver;
        border-radius: 5px;
        font-size: 16px;
        padding-left: 10px;

        &::placeholder {
          font-size: 16px;
        }
      }
    }
    .create_btn {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      margin: 15px 0;

      .save {
        width: 150px;
        height: 40px;
        border: none;
        background-color: rgb(4, 172, 4);
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
      .no {
        width: 150px;
        height: 40px;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

#newProduct {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 92.3vh;

  .form_box {
    width: 50vw;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;

    .category {
      display: block;
      position: relative;

      p {
        font-size: 14px;
        font-weight: 500;
        color: rgba(16, 16, 214, 0.557);
        // padding: 5px 5px;
        font-family: Inter, sans-serif;
      }

      label {
        font-size: 14px;
        text-transform: uppercase;
        display: block;
      }
      #category {
        font-weight: 400;
        font-size: 13px;
        padding: 11.2px 16px;
        color: #494b50;
        background-color: transparent;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid silver;
        border-radius: 4px;
        margin-top: 10px;
        width: 90%;
        max-width: 600px;
        font-family: Inter, sans-serif;
        min-width: 0;
      }
    }

    .title {
      display: block;
      position: relative;

      label {
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-top: 35px;
      }
      input {
        font-weight: 400;
        font-size: 13px;
        padding: 11.2px 16px;
        color: #494b50;
        background-color: transparent;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid silver;
        border-radius: 4px;
        margin-top: 10px;
        width: 90%;
        max-width: 600px;
        font-family: Inter, sans-serif;
        min-width: 0;
      }
    }

    .description {
      display: block;
      position: relative;

      label {
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-top: 35px;
      }
      #description {
        font-weight: 400;
        font-size: 13px;
        padding: 11.2px 16px;
        color: #494b50;
        background-color: transparent;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid silver;
        margin-top: 10px;
        width: 90%;
        height: 200px;
        max-width: 600px;
        font-family: Inter, sans-serif;
        min-width: 0;

        &::placeholder {
          text-align: start;
        }
      }
    }

    .images {
      display: block;
      position: relative;

      label {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      .flex {
        display: inline-block;

        .allImage {
          .only {
            position: relative;
            .editIcon {
              position: absolute;
              right: 0;
            }
            img {
              max-width: 175px;
              min-width: 171px;
              height: 145px;
              object-fit: clip;
              overflow: hidden;
            }
          }
        }
      }

      .addimage {
        position: relative;
        input {
          font-size: 13px;
          color: #494b50;
          background-color: transparent;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          border: 1px solid grey;
          width: 85vw;
          max-width: 650px;
          height: 40px;
          margin-bottom: 20px;
          position: relative;
          z-index: 2;
          opacity: 0;
        }
        .add {
          width: 100%;
          max-width: 600px;
          height: 40px;
          border-radius: 4px;
          background-color: #66bb6a;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .price {
      margin-top: 40px;
      margin-right: 50px;
      display: inline-block;
      position: relative;

      input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      label {
        font-size: 13px;
        text-transform: uppercase;
        display: block;
      }
      input {
        font-weight: 400;
        font-size: 13px;
        padding: 11.2px 16px;
        color: #494b50;
        background-color: transparent;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        border: 1px solid silver;
        border-radius: 4px;
        margin-top: 10px;
        // width: 90%;
        max-width: 600px;
        font-family: Inter, sans-serif;
        min-width: 0;
      }
    }
  }
}

.deleteproduct {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999;
  top: 0;
  overflow: hidden;
  background-color: rgba(160, 153, 153, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    display: block;
  }

  .options {
    padding: 5px;
    padding-top: 20px;
    display: block;
    background-color: white;
    width: 90vw;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;

    .buttons {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 25px;

      button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        color: white;
        margin-top: 20px;
      }
    }
  }
}

.changeproduct {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999;
  top: 0;
  overflow: hidden;
  background-color: rgba(160, 153, 153, 0.507);
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    display: block;
  }

  .options {
    padding: 5px;
    padding-top: 20px;
    display: block;
    background-color: white;
    width: 90vw;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;

    .buttons {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 25px;

      button {
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: none;
        color: white;
        margin-top: 20px;
      }
    }
  }
}

#products {
  width: 88vw;
  margin-top: 30px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 80px;
  margin-left: 80px;

  .product {
    width: 250px;
    background-color: white;
    box-shadow: 0 0 6px silver;
    position: relative;
    margin-bottom: 50px;
    border-radius: 5px;

    .product-settings {
      display: flex;
      font-size: 21px;
      padding: 1px 2px;
      border-radius: 4px;
      position: absolute;
      align-items: center;
      justify-content: center;
      background-color: #f0f1f3;
      right: 10px;
      top: 10px;
      z-index: 3;
    }

    .dropdown {
      width: 100px;
      position: absolute;
      right: 10px;
      top: 33px;

      .dropdowntext1 {
        display: block;
        height: 35px;
        background-color: white;
        font-size: 15px;
        font-family: serif;
        display: flex;
        align-items: center;
        padding: 5px;
        border: 1px solid #f0f1f3;

        &:hover {
          cursor: pointer;
        }
      }

      .dropdowntext2 {
        padding: 5px;
        display: block;
        height: 35px;
        font-size: 15px;
        font-family: serif;
        background-color: white;
        display: flex;
        align-items: center;
        border: 1px solid #f0f1f3;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .title {
      min-height: 78px;

      h2 {
        width: 190px;
        max-height: 58px;
        color: black;
        font-size: 17px;
        font-weight: 600;
        margin-left: 10px;
        margin-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: Arial, Helvetica, sans-serif;
      }

      p {
        margin: 6px 10px 5px 10px;
        font-size: 14px;
        color: #94979d;
      }

      .active {
        margin-left: 1px;
        color: rgb(102, 187, 105);
      }
    }

    .price {
      margin: 20px 10px 10px 10px;
      font-weight: 600;
    }
  }
}

#orders {
  width: 100vw;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 94vh;

  .box {
    position: relative;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 100px;

    h1 {
      font-family: "Inter", sans-serif;
      font-family: "Roboto Slab", serif;
      color: rgba(222, 88, 62, 0.933);
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 78vw;

      th,
      td {
        text-align: left;
        padding: 18px;
      }

      tr {
        border-bottom: 1px solid rgba(232, 120, 97, 0.933);
      }

      tr:hover {
        background-color: #eee;
      }

      .thead {
        background-color: rgba(232, 120, 97, 0.933);
        color: white;

        tr:hover {
          background-color: rgba(232, 120, 97, 0.933);
        }

        &:hover {
          background-color: rgba(232, 120, 97, 0.933);
        }
      }
    }
  }
}

#pagination {
  position: absolute;
  right: 25px;
  bottom: 20px;
  display: flex;

  .back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(232, 120, 97, 0.933);
    background-color: rgb(255, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .unactive {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    font-size: 18px;
    opacity: 0.2;
  }

  .numbers {
    max-width: 250px;
    height: 40px;
    display: flex;
    overflow-x: hidden;
    position: relative;

    .number {
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
      border: 2px solid rgba(232, 120, 97, 0.933);
      background-color: rgb(255, 248, 248);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      margin: 0 5px;
      cursor: pointer;
    }

    .active {
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
      border: 2px solid rgba(232, 120, 97, 0.933);
      background-color: rgba(232, 120, 97, 0.933);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      font-size: 18px;
      color: white;
    }
  }

  .next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(232, 120, 97, 0.933);
    background-color: rgb(255, 248, 248);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.view_banner {
  width: 100vw;
  height: 93.7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e8e6e6;

  .view_fromtg {
    width: 380px;
    height: 640px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;

    .header {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .embla {
      width: 350px;
      height: 140px;
      overflow: hidden;
      margin-top: 15px;

      .embla__container {
        display: flex;

        .embla__slide {
          width: 350px;
          height: 140px;
          background-color: #005c50;
          flex: 0 0 100%;
          min-width: 0;
        }
      }
    }

    .table {
      width: 100%;
      overflow-x: scroll;
      overflow-y: hidden;
      overflow: scroll;
      display: flex;
      font-size: 13px;
      font-weight: 500;
      margin-top: 20px;
      padding: 5px 0;

      &::-webkit-scrollbar {
        display: none;
      }

      .table_text {
        border-bottom: 2px solid rgb(199, 22, 18);
        padding-bottom: 7px;
        padding: 0 7px 7px 5px;
        margin-right: 20px;

        h3 {
          color: black;
        }
      }
    }

    .products {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .product {
        width: 170px;
        height: 310px;
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 20px;
        position: relative;
        border-radius: 4px;
        padding-bottom: 10px;
        flex-direction: column;
        box-shadow: 0 0 6px silver;

        .favourite {
          width: 25px;
          height: 25px;
          position: absolute;
          right: 10px;
          top: 10px;
        }

        .info {
          cursor: pointer;
          padding: 0 7px;

          h2 {
            height: 44px;
            text-align: unset;
            color: gray;
            font-size: 14px;
            font-weight: 400;
            padding-top: 10px;
            margin-left: 5px;
            color: black;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .price {
            height: 35px;
            display: flex;
            margin-left: 5px;
            margin-top: 10px;
            position: relative;
            align-items: start;
            flex-direction: column;
            justify-content: start;

            p {
              font-size: 15px;
              margin-top: 16px;
            }

            .sale {
              position: absolute;
              bottom: 17px;
              color: red;
              font-size: 12px;
              text-decoration: line-through;
            }
          }
        }

        button {
          color: white;
          background-color: rgb(215, 17, 17);
          width: 90%;
          margin: 0 auto;
          padding: 10px 5px;
          border-radius: 10px;
          margin-top: 20px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .buttons {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    .save {
      width: 180px;
      height: 40px;
      border: none;
      background-color: rgb(4, 172, 4);
      border-radius: 10px;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }
    .no {
      width: 180px;
      height: 40px;
      border: none;
      background-color: red;
      border-radius: 10px;
      font-size: 16px;
      color: white;
      cursor: pointer;
    }
  }
}

.addPhoto {
  width: 99vw;
  height: 100vh;
  background: #000000b8;
  position: absolute;
  z-index: 99999;
  top: 0;

  .addPhoto_box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 270px auto;

    h2 {
      font-weight: 700;
      font-family: Inter, sans-serif;
      font-size: 28px;
      text-align: center;
      padding: 5px 0;
    }

    .images {
      display: block;
      position: relative;

      label {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      .flex {
        display: inline-block;

        .allImage {
          width: 480px;
          max-height: 330px;
          display: flex;
          align-items: center;
          flex-direction: column;
          overflow-y: scroll;

          .only {
            position: relative;
            margin-top: 10px;
            margin-left: -20px;

            .editIcon {
              position: absolute;
              right: 0;
            }

            img {
              min-width: 350px;
              min-width: 140px;
              width: 350px;
              height: 140px;
            }
          }
        }
      }

      .addimage {
        position: relative;
        margin-top: 40px;

        input {
          width: 450px;
          font-size: 13px;
          color: #494b50;
          background-color: transparent;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          border: 1px solid grey;
          height: 40px;
          margin-bottom: 20px;
          position: relative;
          z-index: 2;
          opacity: 0;
        }

        .add {
          width: 450px;
          max-width: 600px;
          height: 40px;
          border-radius: 4px;
          background-color: #66bb6a;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .buttons {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      margin: 15px 0;

      .save {
        width: 150px;
        height: 40px;
        border: none;
        background-color: rgb(4, 172, 4);
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
      .no {
        width: 150px;
        height: 40px;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

.deletePhoto {
  width: 99vw;
  height: 100vh;
  background: #000000b8;
  position: absolute;
  z-index: 9999;
  top: 0;

  .deletePhoto_box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 270px auto;

    h2 {
      font-weight: 700;
      font-family: Inter, sans-serif;
      font-size: 28px;
      padding: 5px 0;
      text-align: center;
    }

    .images {
      display: block;
      position: relative;

      .flex {
        display: inline-block;

        .allImage {
          width: 480px;
          max-height: 330px;
          display: flex;
          align-items: center;
          flex-direction: column;
          overflow-y: scroll;

          .only {
            position: relative;
            margin-top: 10px;

            .editIcon {
              position: absolute;
              right: 0;
            }

            img {
              min-width: 350px;
              min-width: 140px;
              width: 350px;
              height: 140px;
            }
          }
        }
      }

      .addimage {
        position: relative;
        margin-top: 40px;

        input {
          font-size: 13px;
          color: #494b50;
          background-color: transparent;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          border: 1px solid grey;
          height: 40px;
          margin-bottom: 20px;
          position: relative;
          z-index: 2;
          opacity: 0;
        }

        .add {
          width: 450px;
          max-width: 600px;
          height: 40px;
          border-radius: 4px;
          background-color: #66bb6a;
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }

    .buttons {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      margin: 15px 0;

      .save {
        width: 150px;
        height: 40px;
        border: none;
        background-color: rgb(4, 172, 4);
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
      .no {
        width: 150px;
        height: 40px;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

#promocode {
  width: 100vw;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 94vh;

  .box {
    position: relative;
    // height: 600px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    padding-bottom: 100px;

    h1 {
      font-family: "Inter", sans-serif;
      font-family: "Roboto Slab", serif;
      color: rgba(222, 88, 62, 0.933);
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 78vw;

      th,
      td {
        text-align: left;
        padding: 18px;
      }

      tr {
        border-bottom: 1px solid rgba(232, 120, 97, 0.933);
      }

      tr:hover {
        background-color: #eee;
      }

      .thead {
        background-color: rgba(232, 120, 97, 0.933);
        color: white;

        tr:hover {
          background-color: rgba(232, 120, 97, 0.933);
        }

        &:hover {
          background-color: rgba(232, 120, 97, 0.933);
        }
      }
    }
  }
}

.addPromoCode {
  width: 99vw;
  height: 100vh;
  background: #000000b8;
  position: absolute;
  z-index: 99999;
  top: 0;

  .addPromoCode_box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 270px auto;

    h2 {
      padding: 5px 0;
      color: grey;
      margin-bottom: 10px;
    }

    .title {
      margin-top: 10px;

      label {
        display: block;
        display: block;
        margin-bottom: 10px;
      }

      input {
        width: 100%;
        padding: 15px 10px 15px 12px;
        border: none;
        border-bottom: 1px solid black;
        background-color: #f5f7f9;
        padding-left: 15px;
      }
    }

    .sale {
      p {
        margin-top: 30px;
      }
      .sale-description {
        display: block;
        color: #61646b;
        margin-top: 5px;
      }

      .percent {
        width: 100%;
        padding: 15px 10px 15px 12px;
        margin-top: 10px;
        border: none;
        border-bottom: 1px solid black;
        margin-right: 10px;
        background-color: #f5f7f9;
      }

      .fromSum {
        width: 100%;
        padding: 15px 10px 15px 12px;
        margin-top: 10px;
        border: none;
        border-bottom: 1px solid black;
        margin-right: 10px;
        background-color: #f5f7f9;
      }
    }

    .buttons {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      margin: 15px 0;

      .save {
        width: 150px;
        height: 40px;
        border: none;
        background-color: rgb(4, 172, 4);
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
      .no {
        width: 150px;
        height: 40px;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

.deletePromo {
  width: 99vw;
  height: 100vh;
  background: #000000b8;
  position: absolute;
  z-index: 999;
  top: 0;

  .deletePromo_box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin: 270px auto;

    h2 {
      font-weight: 700;
      font-family: Inter, sans-serif;
      font-size: 28px;
      padding: 5px 0;
      text-align: center;
    }

    .buttons {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      margin: 15px 0;

      .save {
        width: 150px;
        height: 40px;
        border: none;
        background-color: rgb(4, 172, 4);
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
      .no {
        width: 150px;
        height: 40px;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

.addNewsletter {
  width: 100vw;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;

  .addNewsletter_box {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;

    h2 {
      padding: 5px 0;
      color: grey;
      margin-bottom: 10px;
    }

    .images {
      display: block;
      position: relative;

      label {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
      }

      .flex {
        display: inline-block;

        .addimage {
          position: relative;
          margin-top: 40px;

          input {
            width: 450px;
            font-size: 13px;
            color: #494b50;
            background-color: transparent;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            border: 1px solid grey;
            height: 40px;
            margin-bottom: 20px;
            position: relative;
            z-index: 2;
            opacity: 0;
          }

          .add {
            width: 450px;
            max-width: 600px;
            height: 40px;
            border-radius: 4px;
            background-color: #66bb6a;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            top: 0;
          }
        }

        .allImage {
          width: 480px;
          max-height: 330px;
          display: flex;
          align-items: center;
          flex-direction: column;
          overflow-y: scroll;

          .only {
            position: relative;
            margin-top: 10px;

            .editIcon {
              position: absolute;
              right: 0;
              z-index: 10;
            }

            img {
              min-width: 50px;
              min-width: 140px;
              width: 315px;
              height: 215px;
            }
          }
        }
      }
    }

    .text {
      width: 100%;
      max-width: 450px;
      min-width: 450px;
      min-height: 100pxa;
      height: 40px;
      padding: 10px 15px;
      margin-top: 20px;
    }

    .buttons {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 30px;
      margin: 15px 0;

      .save {
        width: 150px;
        height: 40px;
        border: none;
        background-color: rgb(4, 172, 4);
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
      .no {
        width: 150px;
        height: 40px;
        border: none;
        background-color: red;
        border-radius: 10px;
        font-size: 16px;
        color: white;
      }
    }
  }
}

#settings {
  width: 100vw;
  height: 94vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eee;

  .changepassword {
    width: 530px;
    height: 320px;
    background-color: #fff;
    padding: 20px;
    color: #68728a;
    position: relative;

    label {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 30px;
      font-size: 20px;
      color: black;
    }

    input {
      margin-left: 30px;
      height: 40px;
      width: 400px;
      padding: 10px;
      font-size: 20px;
    }

    button {
      width: 150px;
      height: 40px;
      border: none;
      background-color: rgb(4, 172, 4);
      border-radius: 10px;
      font-size: 16px;
      color: white;
      margin-top: 20px;
      position: relative;
      left: 280px;
      bottom: 0;
    }
  }

  .changedelivery {
    width: 530px;
    height: 320px;
    background-color: #fff;
    padding: 20px;
    color: #68728a;
    position: relative;

    label {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 30px;
      font-size: 20px;
      color: black;
    }

    input {
      margin-left: 30px;
      height: 40px;
      width: 400px;
      padding: 10px;
      font-size: 20px;
    }

    button {
      width: 150px;
      height: 40px;
      border: none;
      background-color: rgb(4, 172, 4);
      border-radius: 10px;
      font-size: 16px;
      color: white;
      margin-top: 20px;
      position: relative;
      left: 280px;
      bottom: 0;
    }
  }
}
